apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.backend.name }}
  namespace: {{ .Values.namespace }}
  labels:
    role: api
    env: demo
spec:
  replicas: {{ .Values.backend.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: api
  template:
    metadata:
      labels:
        role: api
    spec:
      containers:
        - name: api
          image: "{{ .Values.backend.image }}:{{ .Values.backend.tag }}"
          imagePullPolicy: Never
          env:
            - name: MONGO_CONN_STR
              value: "{{ .Values.backend.env.mongoConnStr }}"
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.env.mongoSecret.name }}
                  key: {{ .Values.backend.env.mongoSecret.usernameKey }}
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.env.mongoSecret.name }}
                  key: {{ .Values.backend.env.mongoSecret.passwordKey }}
          ports:
            - containerPort: {{ .Values.backend.containerPort }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.backend.containerPort }}
            initialDelaySeconds: 2
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.backend.containerPort }}
            initialDelaySeconds: 5
            periodSeconds: 5
          startupProbe:
            httpGet:
              path: /started
              port: {{ .Values.backend.containerPort }}
            failureThreshold: 30
            periodSeconds: 10

